@charset "UTF-8";

 @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap'); 

 @font-face {
    font-family: 'idroid';
    src: url(fontes/idroid.otf) format('opentype');
    font-weight: normal;
 }

:root {
    --cor01: #f2fff8;
    --cor02: #84E3AF;
    --cor03: #3DDD85;
    --cor04: #30AB67;
    --cor05: #375E49;
    --cor06: #1A5E39;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-android: 'idroid', cursive;
    --fonte-destaque: 'Bebas Neue', cursive;
}

*{
    margin: 0px;
    padding: 0px;
}

header {
    background-image: linear-gradient(to bottom, var(--cor03), var(--cor05));
    text-align: center;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.575);
    height: 150px;
    padding-top: 40px;
}

header  h1 {
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    margin-bottom: 20px;
}

header  p {
    color: white;
    max-width: 500px;
    margin: auto;
    font-size: 1.2em;
    font-family: var(--fonte-padrao);
}

nav {
    background-color: var(--cor06);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.336) ;
    
    
}

nav > a {
color: var(--cor01);
text-decoration: none;
font-weight: bold;
padding: 5px;
border-radius: 5px;
transition-duration: 0.5s;
}

nav > a:hover {
    background-color: var(--cor02);
    color: var(--cor05);
}

body {
    background-color: var(--cor01);
    font-family: var(--fonte-padrao);
}

a.externo::after {
    content: '\00A0\1F517';
}
main {
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
    padding: 20px;
    margin-bottom: 30px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
    font-size: 1em;
}


main > article {
    margin: auto;
}

main  h1 {
    color: var(--cor04);
    font-family: var(--fonte-android);
    font-size: 2em;
}

main  h2 {
    background-image: linear-gradient(to right, var(--cor02), var(--cor01) 25%);
    color: var(--cor04);
    font-family: var(--fonte-android);
    font-size: 1.5em;
    padding-left: 20px;
}

main  picture {
    margin: auto;
    display: block;
}

main  img { 
    width: 100%;
}

main  img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

main a {
    text-decoration: none;
    color: var(--cor04);
}

strong {
    color: var(--cor04);
}

div.video {
    position: relative;
    background-color: var(--cor06);
    height: 0px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 15px;
    padding-bottom: 59%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);

}

div.video>iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

main ul {
    list-style-position: inside;
    list-style-type: '\2714\0020\0020';
    columns: 2;
}

aside {
    background-color: var(--cor02);
    border-radius: 20px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.247);
}

aside h3 {
    background-color: var(--cor04);
    padding: 10px 20px;    
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: white;
    font-family: var(--fonte-padrao);

}

aside p {
    background-color: var(--cor02);
    margin-bottom: 0px;
    padding: 0px 20px;
    line-height: 2em;
    border-radius: 20px;
}
aside ul {
    background-color: var(--cor02);
    padding: 20px;
    border-radius: 20px;

}


footer {
    background-color: var(--cor06);
    color: white;
    text-align: center;
    padding: 10px 20px;
    font-size: 0.8em;
}

footer a {
    text-decoration: none;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.507);

}

footer a:hover {
    background-color: var(--cor03);
    border-radius: 5px;
    color: var(--cor05);
}